body {
  font-family: 'Rakkas';
  margin: 0;
  background-color:#e9e9e9;

}

h1 {
  text-align: center;
  color:#88b8d6;
}

h2,h3{
  color:#88B8D6;
  float: left;
}

div {
  padding: 15px;
}

div.topnav {
  padding: 0px;
}

div.content{
  margin: 2em;
  padding-top:20px;
  height: auto;
}

p{
  padding:10px;
  color:#0e0816;
}

hr{
  width:100%;
  border: 2px ridge #99D3DF;
}

img{
  padding:10px;
}

.biocontent {
  float:left;
}

.bookimg{
  padding: 10px;
  width: 200px;
  float: right;
}

.clearfix {
  overflow: auto;
  clear: both;
  display: table;
}

.wrapper {
  height: 3em;
  border-bottom: 4px solid rgb(0,0,0);
}

.wrapper:before,
.wrapper:after {
  content: '';
  display: table;
}

.wrapper:after {
  clear:both;
}

.bio{
  height: auto;
}





/*Our special About Us fonts and colors
https://www.w3schools.com/howto/howto_google_fonts.asp - all google fonts
search: "color picker" on google                       - choose any color
*/

.Abigail{
  font-family:'';
  color:#88B8D6;
}

.Aleena{
  font-family: 'Homemade Apple';
  color:#88B8D6;
}

.Anna{
  font-family:'';
  color:#88B8D6;
}

.Charlotte{
  font-family:'Cinzel Decorative';
  color:#ff3ad7;
}

.Emily{
  font-family:'Caesar Dressing';
  color:#572596;
}

.Faye{
  font-family:'';
  color:#88B8D6;
}

.Kate{
  font-family:'Amaranth';
  color:#1a6b0a;
  /*border-bottom: 2px ridge #99D3DF;*/
}

.Kayla{
  font-family:'Lora';
  color:#33CCFF;
}

.Sarina{
  font-family:'Bigelow Rules';
  color:#cb14e0;
  font-size: 30px
}

.Sophia{
  font-family:'';
  color:#88B8D6;
}

.Zoe{
  font-family:'';
  color:#88B8D6;
}

/*↓From here down is just for the navbar↓*/

.mine{
  margin: 0;
  padding: 0;
  background-color:#99D3DF;
  position: fixed;
  top: 0;
  width:100%;
}

.mine a{
  display:block;
  text-align: center;
  float:left;
  color:#0E0816;
}

a:hover {
  background-color:#4717F6;
  color:#E9E9E9;
}

a.active {
  background-color:#A239CA;
  color: #E9E9E9;
  font-weight: bold;
  font-size:120%;
}

.active:hover {
  background-color:#8017A8 /*Fusia minus two per digit*/;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
  color:#E9E9E9;
  background-color:#0E0816;
}

.icon:hover{
  background-color:#4717F6
}

@media screen and (max-width: 870px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    size:200%;
  }
}

@media screen and (max-width: 870px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
